<% provide(:title, "Contact") %>
<div class="inner cover">
  <h1 class="cover-heading">Contact</h1>
  <p class="lead">Email me at thisismade@up.com</p>
</div>

<!-- <%= link_to image_tag("Beach.JPG", alt: "beach") %> -->
