        

          <div class="starter-template">
            <h1>Alan Cruse.</h1>
            <p class="lead">Aspiring Web Developer,<br>take a look at what I've created so far.</p>
          </div>
