<% provide(:title, "Etch-a-Sketch") %>
<div>
  <h1 class="text-center">Draw with Alan! <small>Click an option below to start</small></h1>
  <div class="row">
    <div class="col-xs-6 center-block">
      <blockquote>
      <p>Any customer can have a car painted any color that he wants so long as it is black</p>
      <footer>Henry Ford</footer>
    </blockquote>
  </div>
  </div>
	<div id="sketch">
		<button type="button" class="btn btn-lg btn-default" id="classic">
			Classic
		</button>
		<button type="button" class="btn btn-lg btn-default" id="gradient">
			Gradient
		</button>
		<button type="button" class="btn btn-lg btn-default" id="rainbow">
			Rainbow
		</button>
	</div>

	<div id='wrapper'>
    <%= javascript_include_tag "project_pages" %>
	</div>
</div>
